body {
    margin: 0;
    display:block;
    text-align: center;
}

.container {
    display: inline-block;
    width: 60%;
    text-align: left;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 2px 3px 0px rgba(161,161,161,0.26);
}

#pingpong {
    width: 100%;
    text-align: center;
}

#photo {
    margin: 0;
}

.margin-left {
    margin-left: 20px;
    
}

h1 {
    font-size: 48px;
}

